body{
    margin: 0;
    padding: 0;
    border: 10px groove greenyellow;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.top{
    display: flex;
    justify-content: center;
    
    
}

 .top .first{
    border: 5px solid red;
    width: 350px;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 15px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    padding: 15px;
    display: flex;
    
}

.top .first1{
    border: 5px solid red;
    width: 350px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 15px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    padding: 25px;
    display: flex;
    
}

.top .first2{
    border: 5px solid red;
    width: 350px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin: 15px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    padding: 25px;
    display: flex;
    
} 
.div2 .circle{
    background-color: rgb(14, 153, 153);
    border-radius: 50%;
    height: 370px;
    width: 28%;
    color: black;
    text-align: center;
    border: 10px solid rgb(46, 39, 39);
    margin-top: 360px;
}

.hr1{
    width: 345px;
   
}

p{
    text-align: center;
    text-decoration: underline;
    margin-top: 52px;
    font-size: 26px;
    font-style: italic;
}

.p1{
    text-align: center;
    text-decoration: underline;
    margin-top: 22px;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

.div2{
    display: flex;
    margin-left: 50px;
    
    
}

.forms{
    margin-left: 150px;
    align-items: center;
    border: 5px dashed red;
    text-align: center;
    
}

.h1{
    color: rgb(175, 83, 99);
}

label{
    color: rgb(175, 83, 99);
    font-size: 22px;
    font-weight: 500;

}

.menu{
    width: 450px;
    padding-left: 36%;
    text-align: center;

    
}

.menus{
    color: rgb(255, 255, 255);
    background-color: black;
    border: 5px solid red;
    font-style: italic;
    border-radius: 35px;

}

.box-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.box-container .box{
    width: 27%;
    
    background-color: rgb(0, 234, 255);
    border: 2px solid green;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
    color: rgb(5, 42, 102);
    line-height: 22px;
    
}



